/*Verde: #00a94a 
Azul: #007cc6 
Amarillo: ##ffa500 
Rojo: #f6303e*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.logoEtapa{
	width: 30%;
}

nav{
	background-color: #DBA901;
}
section{
	display: flex
}
.steps, .step-one{
	margin-top: 20px;
	background-color: green;
	border-radius: 110%;
	font-size: 1.8em;
	padding: 15px 25px;
	position: relative;
	top: 30px;
}
.steps{
	background-color: grey
}
span a{
	color: whitesmoke;
}
.line{
	background-color: gray;
	height: 5px;
	width: 121px;
	margin: 45px -10px;
}
.progress-bar{
	padding: 20px;
}
a i.fa.fa{
	color: black;
}
.home{
	background: url('../img/home.jpg');
	background-repeat: no-repeat;
	height: 100vh;
	background-position: right bottom;
	background-size: 70%;
}
input[type=text]:not(.browser-default){
	border: 1px solid grey;
	padding: 5px;
	border-radius: 5px;
}
.iniciar-sesion{
	background-color: #DBA901;
	border-radius: 5px;
	height: 30px;
	width: 40%;
	color: white;
	border: none;
}
.logo-signUp{
	margin-bottom: 30px;
}